html, body{
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

/* Navigation Styling */
#navigation{
    background-color: transparent;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}

a{
    transition: 0.5s;
    text-decoration: none;
    color: white;
    margin: 0px;
    font-size: 20px;
}

li:active{
    font-weight: bold;
}

.navColor{
    transition: 0.5s;
    color: black;
}

/* All Sections */
section{
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about, #skills, #projects, #contact{
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

/* Intro */
#intro{
    height: 100%;
    background-image: url('https://thumbs.gfycat.com/AcclaimedDimBaiji-size_restricted.gif');
    background-size: cover;
    filter: contrast(120%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.intro{
    /* color: black; */
    font-size: 70px;
    margin: 1%;
    text-align: center;
    -webkit-text-stroke: 2px black;
}

/* About */
#about{
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;

}

#hobbies{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

#game, #anime, #fitness, #music, #sport, #ff{
    border: solid;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#game, #anime, #music{
    margin-top: 150px;
}

/* Skills */
#skills{
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.devicons{
    width: 150px;
    height: auto;
    text-align: center;
    margin-right: 50px;
    margin-top: 40px;
}

.devicon-express-original{
    font-size: 155px;
}

/* Projects */
#projects{
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

button{
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
}

button:hover{
    background-color: white;
}

.links:hover{
    color: black;
}

.divide{
    color: black;
    font-size: 20px;
}

#project2{
    margin-top: 70px;
}

/* Contact */
#contact{
    height: 100%;
    padding-top: 30px;
    background-color: black;
    color: white;
}

#cLinks{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cCard{
    margin-top: 50px;
    margin-right: 80px;
}

.devicon-github-original, .devicon-linkedin-plain{
    font-size: 80px;
}

.iconName{
    font-size: 30px;
}

#top{
    border: solid white;
    max-width: 5%;
    padding: 10px;position: absolute;
    bottom: -2800px;
    right: 100px;
}

#top:active{
    color: blue;
}